<body class="bg-success" style="overflow: hidden;">

  <div class="d-flex" style="width: 100%">

    <div class="div-index"></div>

    <div class="div-indexm">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="row justify-content-center">
          <div class="col-md-12 col-sm-12">
            <div class="card shadow-lg border-0 rounded-lg mt-5 mx-auto">
              
              <%= link_to root_path do %>
                <img src="https://img.icons8.com/ios-filled/50/000000/back.png"/>
              <% end %>

              <div class="row text-center my-3">
                  <h2> Sign up</h2>

                  <div class="my-3">
                    <i class="fas fa-user"></i>
                    <%= f.text_field :username, autofocus: true, placeholder: "Enter your username", :size=>"16" %>
                  </div>

                  <div class="my-3">
                    <i class="fas fa-envelope"></i>
                    <%= f.email_field :email, autocomplete: "email", placeholder: "Enter your email", :size=>"16" %>
                  </div>
                  
                  <div class="my-3">
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %>
                    <br>
                    <i class="fas fa-lock"></i>
                    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Enter your password" , :size=>"16" %>
                    
                  </div>

                  <div class="my-3">
                    <i class="fas fa-lock"></i>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm your password", :size=>"16" %>
                  </div>

                  <div class="my-3">
                    <i class="fas fa-info-circle"></i>
                    <%= f.text_field :info , placeholder: "Tell us something about you" , :size=>"16"%>  
                  </div>

                  <div class="actions my-3">
                    <%= f.submit "Sign up" , class: "btn btn-success my-3"%>
                  </div>
                
                <%= render "devise/shared/links" %>

              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="div-index"></div>
  </div>
</body>
