<%= form_with model: article do |form| %>
  <div class="m-0 p-2 row justify-content-center">
    <div class="card col-auto text-center" style="width: 40rem">
      <div class="card-body" >
        <%= form.label :title , style:'font-size: 1.5rem' %><br>
        <%= form.text_field :title %>
        <% article.errors.full_messages_for(:title).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <div class="card-body" >    
        <%= form.label :body , style: 'font-size: 1.5rem' %><br>
        <%= form.text_area :body %><br>
        <% article.errors.full_messages_for(:body).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>

      <div class="card-body" >
          <div>
            <%= form.label :status %><br>
            <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
        </div>
      </div>

      <div style="visibility: hidden" >
          <div>
            <%= form.hidden_field :author,  value: current_user.username %>
        </div>
      </div> 

      <div>
        <%= form.submit class:"btn btn-success mb-3"%>
      </div>

      
    </div>
  </div>
<% end %>
